<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document: main.hbs</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <header class="header">
    <a href="/products" class="home-link">Products</a>
    <a href="/chat" class="home-link">Chat</a>
  </header>
  <main class="main-layout">
    {{{body}}}
  </main>

  <script src="js/products.js"></script>
</body>

</html>