<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document: main.hbs</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <header class="header">
    <a href="/" class="home-link">Home</a>
    <a href="/realtimeproducts" class="realtimeproducts">Realtime Products</a>
  </header>
  <main class="main-layout">
    {{{body}}}
  </main>
</body>

</html>